.single-song {
  height: 20vh;
  border: 1px solid rgb(200, 200, 200);
  display: flex;
  align-items: center;
}

.single-song img {
  height: 100%;
  width: 100%;
}

.single-song-img,
.single-song-artist-name,
.single-song-trackName,
.single-song-details {
  box-sizing: border-box;
  border: 1px solid rgb(200, 200, 200);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 6px;
}

.single-song-img,
.single-song-details {
  width: 15%;
}

.single-song-artist-name {
  width: 35%;
}

.single-song-trackName {
  width: 35%;
}
