.song-details {
  background-color: rgb(31, 31, 31);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

.song-details-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.song-text {
  font-size: 20px;
  font-weight: bold;
  box-sizing: border-box;
}

audio {
  width: 65%;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
}

.song-infos {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.singer-image {
  height: 100%;
  width: 12%;
}

.singer-image img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.song-image-and-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vw;
  box-sizing: border-box;
}

.song-info {
  border-bottom: 1px solid white;
  box-sizing: border-box;
}

a:link {
  color: rgba(255, 255, 255, 0.8);
}

/* visited link */
a:visited {
  color: rgba(200, 200, 200, 1);
}

/* mouse over link */
a:hover {
  color: rgba(255, 255, 255, 1);
}

/* selected link */
a:active {
  color: blue;
}

@media only screen and (max-width: 600px) {
  .song-image-and-info {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .singer-image {
    width: 35%;
  }

  audio {
    width: 95%;
  }

  .song-infos {
    width: 95%;
  }

  .song-details-content {
    justify-content: space-between;
  }

  .song-details {
    min-height: 100vh;
  }
}
