.main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5vh;
  height: 90%;
}

.main p {
  text-align: center;
  width: 60%;
}

.main h1 {
  font-size: 40px;
  text-align: center;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

input {
  width: 20vw;
  font-size: 20px;
}

.search-result {
  height: 50%;
  border: 1px solid rgb(200, 200, 200);
  width: 60%;
}
