.main-page {
  background: url("./../assets/walpaper/bg (6).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.6rem;
  padding: 2.4rem 1.6rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1080px) {
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .main-page {
    padding: 1.6rem 1.2rem;
  }
}
