.header {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  font-size: var(--fs-xl);
  font-weight: 600;
  letter-spacing: 0.05em;
  gap: 0.8rem;
  width: 100%;
}